@model IEnumerable<EventTracker.Models.EventModel>
@{
    ViewData["Title"] = "Etkinlik Listesi";
}

<h2>Etkinlik Listesi</h2>

<p>
    <a asp-action="Create" class="btn btn-success">+ Yeni Etkinlik Oluştur</a>
</p>

<table class=" table table-striped">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Tarih</th>
            <th></th> <!-- Eylemler için boş başlık-->
        </tr>
    </thead>

    <tbody>
        @foreach (var evt in Model)
        {
            <tr>
                <td>@evt.Title</td>
                <td>@evt.Description</td>
                <td>@evt.Date.ToString("g")</td>
                <td>
                    @if (!evt.IsPast)
                    {
                        <a asp-action="Details" asp-route-id="@evt.Id" class="btn btn-info btn-sm">Katıl</a>
                    }
                    <a asp-action="Edit" asp-route-id="@evt.Id" class="btn btn-primary btn-sm">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@evt.Id" class="btn btn-danger btn-sm"
                        onclick="return confirm('Bu etkinliği silmek istediğinize emin misiniz=');">Sil</a>
                </td>
            </tr>
        }
    </tbody>




</table>